@font-face {
  font-family: 'OpenSans';
  src: url("../_fonts/OPENSANS-LIGHT.TTF") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../_fonts/OPENSANS-REGULAR.TTF") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../_fonts/OPENSANS-SEMIBOLD.TTF") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../_fonts/OPENSANS-BOLD.TTF") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../_fonts/OPENSANS-EXTRABOLD.TTF") format("opentype");
  font-weight: 800;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*menu button*/
.menu-button {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 30px;
  height: 30px;
  z-index: 100;
  display: none;
}
.menu-button:hover {
  cursor: pointer;
}
.menu-button span {
  width: 30px;
  height: 3px;
  background: #fff;
  display: block;
  position: relative;
  -webkit-transition: background 0s 0.3s;
  -o-transition: background 0s 0.3s;
  transition: background 0s 0.3s;
  border-radius: 5px;
}
.menu-button span:after,
.menu-button span:before {
  content: '';
  -ms-flex-line-pack: justify;
  align-content: space-between;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  -webkit-transition-duration: 0.3s, 0.3s;
  -o-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  -o-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
  border-radius: 5px;
}
.menu-button span:after {
  top: -7px;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  -o-transition-property: top, transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
}
.menu-button span:before {
  bottom: -7px;
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  -o-transition-property: bottom, transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
}
.menu-button.open span:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu-button.open span {
  background: transparent;
}
.menu-button.open span:before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu-button.open span:after,
.menu-button.open span:before {
  -webkit-transition-delay: 0s, 0.3s;
  -o-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}
/*default styles*/
body {
  color: #000000;
  font-size: 16px;
  font-family: 'OpenSans';
  font-weight: 300;
}
.wprt-container a,
.wprt-container h1,
.wprt-container h2,
.wprt-container h3,
.wprt-container h4,
.wprt-container h5,
.wprt-container h6,
.wprt-container ol,
.wprt-container p,
.wprt-container ul {
  margin-bottom: 25px;
}
h1 {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
}
h2 {
  font-size: 28px;
  color: #00afdb;
  font-weight: 700;
}
h3 {
  font-size: 21px;
  color: #49a942;
  font-weight: 700;
}
h4 {
  font-size: 18px;
  color: #333333;
  font-weight: 800;
}
h5 {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
}
a {
  color: #385988;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  text-decoration: underline;
}
img {
  width: 100%;
  max-width: 100%;
}
hr {
  border-top: 1px solid #49a942;
}
a.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  background-color: #47aa42;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 0;
  outline: 0;
  text-decoration: none;
  border-radius: 20px;
}
a.btn:hover {
  background-color: #377f32;
  color: #fff;
}
.wprt-container ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  padding-left: 0px;
}
.wprt-container ol li {
  counter-increment: my-awesome-counter;
  font-size: 18px;
}
.wprt-container ol li:before {
  content: counter(my-awesome-counter) ". ";
  color: #00afd7;
}
.wprt-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  margin-bottom: 25px;
}
.wprt-container ul li {
  position: relative;
  color: #000000;
  font-size: 16px;
}
.wprt-container ul li:before {
  content: "";
  font-size: 40px;
  background-color: #c4d600;
  position: absolute;
  top: 10px;
  line-height: 0;
  left: -15px;
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 50%;
}
.wprt-container blockquote {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 40px;
  border-left: 15px #00aedb solid;
  background: inherit;
  color: #333333;
  padding: 0;
  padding-left: 25px;
}
.wprt-container blockquote > p {
  color: #333333;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 0;
}
.wprt-container blockquote a {
  color: #333333;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 0;
  text-decoration: underline;
}
.wprt-container blockquote h2,
.wprt-container blockquote h3,
.wprt-container blockquote h4,
.wprt-container blockquote h5,
.wprt-container blockquote h6 {
  color: #333333;
}
.btn-green {
  background: #47aa42 !important;
  color: #fff !important;
}
.btn-green:hover {
  background: #377f32 !important;
}
.btn-blue {
  background: #c4d600 !important;
  color: #000 !important;
}
.btn-blue:hover {
  background: #dce666 !important;
}
.phone-full-width {
  background: #47aa42;
}
.phone-full-width .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.phone-full-width .container p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.phone-full-width .container span {
  color: #fff;
}
.hero-section {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
}
.hero-section .container {
  min-height: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero-section .hero-section__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.hero-section .hero-section__title h1 {
  font-size: 45px;
  color: #333333;
  font-weight: 700;
  position: relative;
}
.hero-section .hero-section__title h1:after {
  content: '';
  width: 70px;
  height: 10px;
  background: #00aedb;
  position: absolute;
  left: 4px;
  bottom: -30px;
}
.hero-section .hero-section__title p {
  font-size: 21px;
  font-weight: 400;
  color: #333333;
  padding-top: 50px;
}
.hero-section .hero-section__title .btn-wrapper {
  margin-top: 20px;
}
.hero-section.hero-section-sub {
  padding-bottom: 80px;
}
.hero-section.hero-section-sub .container {
  min-height: 470px;
}
.hero-section.hero-section-sub .container .row {
  width: 100%;
}
.hero-section.hero-section-sub > img {
  position: absolute;
  top: 0;
  max-height: 440px;
}
.subpage-content {
  max-width: 710px;
  margin: 0 auto;
  padding-bottom: 120px;
}
.accordion-section {
  padding-bottom: 80px;
  padding-top: 75px;
}
.accordion-section .accordion-item {
  border-top: 2px #00afdb solid;
}
.accordion-section .accordion-item .accordion-item__header {
  padding: 25px 10px;
  padding-right: 35px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.accordion-section .accordion-item .accordion-item__header h4 {
  font-size: 18px;
  font-weight: 700;
  color: #49a942;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.accordion-section .accordion-item .accordion-item__body {
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
}
.accordion-section .accordion-item .accordion-item__body h2,
.accordion-section .accordion-item .accordion-item__body h3,
.accordion-section .accordion-item .accordion-item__body h4,
.accordion-section .accordion-item .accordion-item__body h5,
.accordion-section .accordion-item .accordion-item__body h6 {
  color: #49a942;
  margin-bottom: 25px;
}
.accordion-section .accordion-item .accordion-item__body p a {
  text-decoration: underline;
  color: #49a942;
}
.accordion-section .accordion-item:last-child {
  border-bottom: 2px #00afdb solid;
}
.accordion-section .accordion-item.open .accordion-item__header {
  background: #fff;
}
.accordion-section .accordion-item.open .accordion-item__header h4 {
  color: #49a942;
}
.accordion-section .accordion-item.open a.btn {
  margin-top: 40px;
}
.accordion-item__body {
  display: none;
  padding-top: 15px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
}
.accordion-item {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.accordion-item__header {
  line-height: 31px;
  position: relative;
  cursor: pointer;
}
.accordion-wrapper {
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
}
.accordion-wrapper > h2 {
  font-size: 28px;
  color: #00afdb;
  margin-bottom: 35px;
}
.accordion-section .accordion-item .accordion-item__header .indicator {
  position: absolute;
  right: 15px;
  top: 20px;
}
.accordion-section .accordion-item.open .accordion-item__header .indicator {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 15px;
}
.accordion-section .accordion-item .accordion-item__header .indicator .fa-angle-down:before {
  color: #49a942;
  font-size: 32px;
}
.grey-accordion-section.accordion-section .accordion-item.open .accordion-item__header {
  background: #f7f7f7;
}
.statistic-section {
  position: relative;
  padding-top: 110px;
  padding-bottom: 105px;
}
.statistic-section:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f8f7f7;
}
.statistic-section .counter {
  font-size: 60px;
  color: #333333;
  font-weight: 700;
  line-height: 36px;
  vertical-align: text-bottom;
  position: relative;
  margin-bottom: 10px;
}
.statistic-section .counter-number {
  font-size: 36px;
  color: #333333;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 45px;
}
.statistic-section .counter-wrapper {
  position: relative;
  z-index: 10;
}
.statistic-section .counter-title {
  font-size: 18px;
  line-height: 28px;
  color: #333333;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 14px;
  max-width: 300px;
}
.statistic-section .counter-item {
  text-align: center;
}
.statistic-section .counter-wrapper > h2 {
  text-align: center;
  padding-bottom: 40px;
}
.statistic-section .counter-number .counter:after {
  content: '';
  width: 135px;
  height: 10px;
  background: #47aa42;
  position: absolute;
  left: -20px;
  bottom: -10px;
}
.member-section {
  padding-top: 80px;
  padding-bottom: 55px;
}
.member-section__item {
  margin-bottom: 55px;
}
.member-section__item--image {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width: 55px;
  border-radius: 50%;
  height: 50px;
  min-height: 50px;
}
.member-section__item--text {
  max-width: 460px;
}
.member-section__item--text .title {
  font-weight: 700;
  font-size: 21px;
  color: #49a942;
  margin-bottom: 20px;
}
.member-section__item--text p {
  color: #000000;
  font-weight: 300;
  font-size: 16px;
}
.member-section__item--text .member-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 25px;
}
.member-section__item--text .member-social li {
  width: 36px;
  height: 36px;
  position: relative;
  margin-right: 11px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.member-section__item--text .member-social li:last-child {
  margin-right: ;
}
.member-section__item--text .member-social li a {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 36px;
  font-size: 20px;
}
.content-section-fluid .left-side {
  min-height: 465px;
  width: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  max-width: 460px;
  -webkit-box-shadow: 6px 6px 8px 0px rgb(0 0 0%);
  box-shadow: 6px 6px 8px 0px rgb(0 0 0%);
  z-index: 2;
}
.content-section-fluid .right-side {
  background: #00aedb;
  width: calc(100% - 460px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 80px;
  padding-right: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.content-section-fluid .right-side h2,
.content-section-fluid .right-side h3,
.content-section-fluid .right-side h4,
.content-section-fluid .right-side p,
.content-section-fluid .right-side a {
  color: #fff;
}
.cta-section .member-section__item--image {
  margin-right: 0;
  margin-left: auto;
}
.cta-section .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cta-section .left-cta {
  min-height: 420px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.cta-section .left-cta .btn {
  background: inherit !important;
  border: 2px #fff solid !important;
  border-radius: 40px;
  margin-top: 35px;
}
.cta-section .left-cta .btn:hover {
  background-color: #00aedb !important;
  border: 2px #00aedb solid !important;
}
.cta-section .right-cta {
  height: 420px;
  max-height: 420px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.cta-section .right-cta .btn {
  background: inherit !important;
  border: 2px #fff solid !important;
  border-radius: 40px;
  margin-top: 35px;
}
.cta-section .right-cta .btn:hover {
  background-color: #47aa42 !important;
  border: 2px #47aa42 solid !important;
}
.cta-section .member-section__item--text {
  max-width: 500px;
}
.cta-section .member-section__item--text h3 {
  font-size: 28px;
  color: #fff;
}
.cta-section .member-section__item--text p {
  color: #fff;
}
.main-footer {
  padding-top: 95px;
  padding-bottom: 80px;
}
.main-footer .widget-title {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
}
.main-footer p {
  color: #000000;
  margin-bottom: 25px;
}
.main-footer p a {
  color: #000000;
  text-decoration: underline;
}
.main-footer a.btn {
  margin-top: 30px;
}
.main-footer a.btn:hover {
  background: #00aedb;
}
.main-footer .col-lg-3:nth-child(2) .widget-title {
  color: #00afdb;
}
.main-footer .col-lg-3:nth-child(3) .widget-title {
  color: #00afdb;
}
.main-footer .col-lg-3 .footer-wrpp {
  max-width: 275px;
}
.main-footer .col-lg-3:last-child .footer-wrpp {
  max-width: 100%;
}
.main-footer .col-lg-3:last-child .logo-footer-wrapper {
  margin-bottom: 35px;
}
.main-footer .col-lg-3:last-child p {
  font-size: 13px;
}
li.menu-item-has-children ul.sub-menu {
  opacity: 0;
  pointer-events: none;
}
li.menu-item-has-children:hover ul.sub-menu {
  opacity: 1;
  pointer-events: all;
  z-index: 5;
}
header.main-header li.menu-item {
  padding-right: 55px;
}
header.main-header li.menu-item a {
  color: #000;
  font-size: 18px;
  text-decoration: none;
}
.main-header {
  height: 120px;
  position: relative;
  z-index: 2;
}
.main-header .navbar {
  padding: 0;
}
.main-header .navbar .navbar-brand {
  padding: 0;
}
header.main-header li.menu-item {
  padding-right: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
li.menu-item-has-children ul.sub-menu {
  min-width: 295px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 100%;
  padding: 15px 0 !important;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #3643a9;
}
header.main-header li.menu-item {
  padding: 27px 0px;
}
.main-header .navbar > .container {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
li.menu-item-has-children ul.sub-menu .menu-item {
  margin-right: 0;
  padding: 5px 0px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
li.menu-item-has-children ul.sub-menu .menu-item:hover {
  background: #a31d28;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
li.menu-item-has-children ul.sub-menu .menu-item a {
  font-size: 16px;
  color: #fff;
  padding: 0 25px;
}
span.menu-trigger {
  padding-left: 8px;
}
span.menu-trigger .fa-angle-down:before {
  color: #3643a9;
  font-size: 20px;
}
a.navbar-brand img {
  width: auto;
  max-height: 80px;
}
.content-section {
  padding-bottom: 160px;
  padding-top: 125px;
}
.content-section:not(.reverse) .left-side {
  padding-right: 65px;
}
.content-section.reverse .right-side {
  padding-left: 65px;
}
/********************/
.logo-section .logo-section__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.logo-section .logo-section__row .logo-section__item {
  position: relative;
  width: calc(100% / 6 - 30px);
  margin: 0 15px 80px 15px;
  text-align: center;
}
.blog-section .blog-item-wrapper .accordion-item__header {
  padding-top: 15px;
  border-bottom: 1px #ededed solid;
  padding-bottom: 10px;
}
.blog-section .blog-item-wrapper .accordion-item__body p {
  font-size: 16px;
  font-weight: 300;
  color: #000;
}
.blog-archive-content {
  padding-bottom: 45px;
}
.blog-archive-content .item-wrapper {
  margin-bottom: 65px;
  padding-right: 35px;
}
.blog-archive-content .item-wrapper h3 {
  padding-bottom: 10px;
}
.blog-archive-content .item-wrapper h3 a {
  font-size: 21px;
  font-weight: 700;
  color: #49a942;
  text-decoration: none;
}
.blog-archive-content .item-wrapper h3 a img {
  width: 45px;
  height: auto;
  margin-bottom: 1px;
  margin-right: 7px;
}
.blog-archive-content .item-wrapper .content-archive {
  padding-left: 52px;
}
.blog-archive-content .item-wrapper .content-archive p {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
.blog-archive-content .item-wrapper a.btn-blog {
  margin-top: 35px;
}
.accordion-section.accordion-two-col {
  padding-top: 110px;
  padding-bottom: 125px;
}
.accordion-section.accordion-two-col .accordion-wrapper {
  max-width: 100%;
}
.accordion-section.accordion-two-col .accordion-wrapper .accordion-item {
  border-top: 0;
}
.accordion-section.accordion-two-col .accordion-wrapper .col-md-6:nth-child(1) .accordion-item {
  border-top: 2px #00afdb solid;
}
.accordion-section.accordion-two-col .accordion-wrapper .col-md-6:nth-child(2) .accordion-item {
  border-top: 2px #00afdb solid;
}
.accordion-section.accordion-two-col .accordion-wrapper .accordion-item__body {
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.hero-error {
  font-size: 120px;
}
.content-section.error-section {
  padding-top: 0;
  position: relative;
  top: -300px;
}
.content-section.error-section .row {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.content-sub-wrapper .left-content-wrapper {
  padding-right: 95px;
}
.content-sub-wrapper .subpage-content {
  max-width: 100%;
}
.aside-wrapper .aside-sticky {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  background: #fafafa;
  padding: 40px;
}
.aside-wrapper .aside-sticky li {
  border-bottom: 1px #00afdb solid;
  position: relative;
}
.aside-wrapper .aside-sticky li a {
  font-size: 16px;
  color: #00afdb;
  font-weight: 400;
  text-decoration: none;
  display: block;
  padding: 15px 0;
  padding-left: 10px;
  padding-right: 30px;
  z-index: 2;
  position: relative;
}
.aside-wrapper .aside-sticky li .indicator {
  position: absolute;
  right: 0;
  top: 15px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.aside-wrapper .aside-sticky li .indicator .fa-angle-down:before {
  font-size: 26px;
  color: #49a942;
}
.aside-wrapper .aside-sticky li:first-of-type {
  border-top: 1px #00afdb solid;
}
.aside-wrapper .aside-sticky h3 {
  padding-bottom: 20px;
  padding-left: 10px;
}
.team-section .container > .row > .col-lg-4 {
  margin-bottom: 75px;
}
.team-section .item-team {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 148%;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}
.team-section .item-team .team-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
}
.team-section .item-team .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.team-section .item-team .overlay img {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  -ms-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.team-section .item-team .overlay p {
  position: absolute;
  top: 87%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  -ms-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
}
.team-section .item-team:hover .overlay {
  opacity: 1;
}
.team-section .item-team:hover .overlay img {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  max-width: 75px;
}
.team-section .item-team:hover .overlay p {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
.team-section .item-team-content h3 a {
  font-size: 21px;
  color: #00afdb;
  font-weight: 700;
  line-height: 31px;
}
.modal-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.8) !important;
  -ms-transform: translate(-50%, -50%) scale(0.8) !important;
  transform: translate(-50%, -50%) scale(0.8) !important;
  opacity: 0 !important;
  margin: 0;
  width: 100%;
  max-width: 1270px;
}
.modal.show .modal-dialog {
  -webkit-transform: translate(-50%, -50%) scale(1) !important;
  -ms-transform: translate(-50%, -50%) scale(1) !important;
  transform: translate(-50%, -50%) scale(1) !important;
  opacity: 1 !important;
}
.modal-dialog .modal-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.modal-dialog .modal-content .close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 10;
  opacity: 1;
  color: #3643a9;
}
.modal-dialog .modal-content .modal-left-side {
  width: 460px;
  height: auto;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}
.modal-dialog .modal-content .modal-left-side .modal-image {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 460px;
  min-height: 710px;
}
.modal-dialog .modal-content .modal-right-side {
  width: calc(100% - 460px);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
}
.modal-dialog .modal-content .modal-right-side h2 {
  margin-bottom: 15px;
}
.modal-dialog .modal-content .modal-right-side h3 {
  margin-bottom: 60px;
  position: relative;
}
.modal-dialog .modal-content .modal-right-side h3:after {
  content: '';
  width: 55px;
  height: 4px;
  background: #333333;
  position: absolute;
  left: 4px;
  bottom: -35px;
}
a.btn-blog {
  font-size: 16px;
  font-weight: 400;
  color: #00afdb;
  border: 2px #00afdb solid;
  text-decoration: none;
  border-radius: 40px;
  padding: 10px 20px;
  margin-bottom: 0;
  display: inline-block;
}
@media screen and (min-width: 1366px) {
  .logo-section .container,
  .blog-section .container,
  .hero-section .container,
  .content-section.error-section .container {
    max-width: 1330px;
  }
  .blog-archive-content .container,
  .accordion-section.accordion-two-col .container,
  .contact-section .container,
  .content-sub-wrapper > .container {
    max-width: 1270px;
  }
}
@media screen and (min-width: 1400px) {
  .main-footer .container {
    max-width: 1600px;
  }
}
@media screen and (min-width: 1199px) {
  .content-section-fluid .container {
    max-width: 1300px;
  }
}
